<strong>Olá, {{ student }}</strong>
<p>Sua pergunta foi respondida:</p>
<p>
  <strong>Pergunta: </strong> <br />
  {{ question }} <br />
  {{ questionDate }}
  <br />
  <br />
  <strong>Resposta: </strong> <br />
  {{ answer }} <br />
  {{ answerDate }}
</p>
<p>
  Caso a resposta não tenha ajudado, entre em contato com seu instrutor.
</p>
